# History files
.Rhistory
.Rapp.history

# administrative files
Admin/

# Full Zip file (after the workshop)
RCourseNunavut2016.zip

# Nunavut and Sawyer Co. Data data files
Exercises/Nunavut/*.xlsx
Exercises/Nunavut/*.csv
Scripts/*.xlsx
Scripts/*.csv
Handouts/*.xlsx
Handouts/*.csv
Handouts/zzzOrigData/

# Intermediate files
CoursePrep/*.log
CoursePrep/*.synctex.gz
CoursePrep/*.tex
CourseMaterial/*.log
CourseMaterial/*.synctex.gz
CourseMaterial/*.tex
CourseMaterial/Exercises/*.log
CourseMaterial/Exercises/*.synctex.gz
CourseMaterial/Exercises/*.
CourseMaterial/Exercises/Figs/
CourseMaterial/Figs/
CourseMaterial/Slides/cache/
CourseMaterial/Slides/Figs/

# produced vignettes
.Rproj.user
